.section {
  position: relative;
  width: 100vw;
  margin-top: 8rem;
  padding-block: 1rem;
}

.section h2 {
  margin-bottom: 1.5rem;
  padding-inline: var(--main-padding);
  font-size: 3.1rem;
  text-align: left;
  text-transform: uppercase;
  color: rgba(34, 48, 59, 0.384);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.rank {
  padding-block: 1rem 2rem;
  border-radius: 6px;
}
