.movie {
  position: relative;
  height: calc(12vw * 1.5);
  width: 12vw;
  background-color: var(--card-color);
  border-radius: 5px;
}

.movie::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 80%;
  box-shadow: 0 0 25px 8px rgb(0, 0, 0);
}

.movie img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.favourite {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: 2.6rem;
  width: 2.6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.rating {
  position: absolute;
  display: flex;
  top: 6px;
  left: 6px;
  height: 2.6rem;
  width: 2.6rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--favourite-color);
  background-color: rgb(32, 39, 46);
  border-radius: 50%;
}
