.random_movie {
  position: relative;
  margin-bottom: 2rem;
  height: 500px;
  width: 100%;
  background-color: var(--card-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.288);
}

.section_title {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.section_title h1 {
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
