.filter {
  margin-bottom: 2rem;
}

.filter h2 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.clear_filter {
  position: absolute;
  display: inline-block;
  margin-left: 1rem;
  line-height: 2rem;
}

.filters_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.filters_list li.active {
  color: var(--main-text-color);
  background-color: var(--accent-color-red);
  border-color: var(--accent-color-red);
}

.movie_title input {
  padding: 5px 1.5rem;
  width: 200px;
  font-size: 1.7rem;
  color: var(--main-text-color);
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  outline: none;
}

.movie_title input::-webkit-input-placeholder {
  color: #979797;
}

.movie_title input::-moz-placeholder {
  color: #979797;
}

.movie_title input:-ms-input-placeholder {
  color: #979797;
}

.movie_title input::-ms-input-placeholder {
  color: #979797;
}

.movie_title input::placeholder {
  color: #979797;
}
