.header {
  z-index: 99;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 150px;
  width: 100vw;
  align-items: center;
  transition: all 0.5s;
}

.scrolled {
  height: 100px;
  background: rgba(33, 46, 56, 0.521);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(19.6px);
  -webkit-backdrop-filter: blur(19.6px);
  -webkit-animation: show_bg 0.5s ease;
  animation: show_bg 0.5s ease;
}

@-webkit-keyframes show_bg {
  from {
    height: 150px;
    background: rgba(33, 46, 56, 0);
  }

  to {
    height: 100px;
    background: rgba(33, 46, 56, 0.521);
  }
}

@keyframes show_bg {
  from {
    height: 150px;
    background: rgba(33, 46, 56, 0);
  }

  to {
    height: 100px;
    background: rgba(33, 46, 56, 0.521);
  }
}

.nav_wrapper {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--main-padding);
  justify-content: space-between;
}

.nav_wrapper img {
  width: 150px;
}

.nav_top {
  display: flex;
  align-items: center;
}

.nav_top ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav_top a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--main-text-color);
  transition: 0.2s;
}

.nav_top a:hover,
.nav_top a.active {
  color: var(--accent-color-red);
}

a.button {
  padding: 0.9rem 3rem;
  border: 1px solid var(--main-text-color);
  border-radius: 6px;
}

a.button:hover {
  color: var(--main-text-color);
  border-color: transparent;
  background-color: var(--accent-color-red);
}
