.movies ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .movies ul {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.movies ul.horizontal {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
