.movie {
  position: relative;
  height: calc(14rem * 1.5);
  min-width: 14rem;
  background-color: var(--card-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.288);
  overflow: hidden;
}

.movie img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.favourite {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: 2.6rem;
  width: 2.6rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 50%;
}

.rating {
  position: absolute;
  display: flex;
  top: 6px;
  left: 6px;
  height: 2.6rem;
  width: 2.6rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--favourite-color);
  background-color: rgb(32, 39, 46);
  border-radius: 50%;
}
