.random_movie {
  position: relative;
  margin-bottom: 2rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--card-color);
  border-radius: 5px;
  overflow: hidden;
}

.random_movie::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    rgba(0, 0, 0, 0)
  );
}

.random_movie::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-image: linear-gradient(
    to top,
    var(--background-color),
    rgba(0, 0, 0, 0)
  );
}

.background_image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.random_movie h1 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 13.1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(34, 48, 59, 0.384);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.section_title {
  z-index: 98;
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--main-padding);
}

.section_title h2 {
  font-size: 2.3rem;
}

.section_title p {
  font-size: 2.1rem;
  font-weight: 200;
}

.streamings {
  display: flex;
  padding-top: 4rem;
  gap: 1rem;
}

.streamings img {
  display: block;
  height: 60px;
  width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.favourite {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: 2.6rem;
  width: 2.6rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 50%;
}
