.section {
  position: relative;
  margin-top: 2rem;
  width: 100vw;
  padding-block: 1rem;
}

.section h2 {
  margin-block: 10rem 2.5rem;
  padding-inline: calc((100vw - 1440px) / 2);
  font-size: 3.1rem;
  text-align: left;
  text-transform: uppercase;
  color: rgba(34, 48, 59, 0.384);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.rank {
  padding-block: 1rem 2rem;
  border-radius: 6px;
}
