.filters_section {
  margin-inline: auto;
  margin-top: 150px;
  margin-bottom: 2rem;
  padding-inline: 10rem;
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
}

.filters_section h1 {
  font-size: 2rem;
}

.toggle {
  display: block;
  width: 100px;
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
}

.toggle::after {
  position: absolute;
  content: "";
  top: 12px;
  right: 0px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: none;
  border-color: #fff transparent transparent transparent;
  transform: rotate(0);
  transition: 0.2s;
}

.toggle.active::after {
  transform: rotate(180deg);
  -webkit-animation: rotate_arrow 0.2s ease-in;
  animation: rotate_arrow 0.2s ease-in;
}

@-webkit-keyframes rotate_arrow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate_arrow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.filters {
  padding-bottom: 1rem;
  height: 0;
  opacity: 0;
  transition: 0.2s;
}

.filters.active {
  height: 250px;
  opacity: 1;
  -webkit-animation: toggle_filters 0.2s ease-in;
  animation: toggle_filters 0.2s ease-in;
}

@-webkit-keyframes toggle_filters {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 250px;
    opacity: 1;
  }
}

@keyframes toggle_filters {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 250px;
    opacity: 1;
  }
}
