body {
  background-color: var(--background-color);
  /* background-image: radial-gradient(
    50% 20% at 70% 70%,
    rgba(0, 120, 138, 0.7) 0%,
    rgba(0, 119, 138, 0) 100%
  ); */
  width: 100vw;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
