body {
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
}

.app {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--main-padding);
  overflow-x: hidden;
}
